
<div class="content-post">
  <div>
    <button class="btn-filter" (click)='date = !date'>Filter by date</button>
    <!-- <h1 class="news">NEWS</h1> -->
    <input class="search" #search  (keyup)="0" placeholder="search">
  </div>
</div>
<div class="post-article">
  <ul>

      <!-- <input type="text" [(ngModel)]='term'> -->


      <li *ngFor= "let post of posts | filter:search.value | sort:date " >
          <div class="post"  [style.background-image]="'url(assets/images/' + post.image + ')'"  >
            <span class="title">{{post.title}}</span><br>
            <div class="content-desc">
            <span class="description">{{ post.description }}</span><br>
            <span class="date">{{ post.date | date:'EEEE, MMMM d, y' }}</span>
            </div>
            <!-- <img class="image" src="{{ post.image }}" width="200px" alt=""> -->
          </div>
      </li>
    </ul>

</div>


